<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Bookingitem</h1>

<f:flashMessages />

<table  class="tx_promoshop" >
	<tr>
		<th><f:translate key="tx_promoshop_domain_model_bookingitem.quantity" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{bookingitems}" as="bookingitem">
		<tr>
			<td><f:link.action action="show" arguments="{bookingitem : bookingitem}"> {bookingitem.quantity}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{bookingitem : bookingitem}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{bookingitem : bookingitem}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Bookingitem</f:link.action>
</f:section>