<label for="title">
	<f:translate key="tx_promoshop_domain_model_product.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="shortDescription">
	<f:translate key="tx_promoshop_domain_model_product.short_description" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="shortDescription" /><br />
<label for="longDescription">
	<f:translate key="tx_promoshop_domain_model_product.long_description" />
</label><br />
	<f:form.textarea property="longDescription" cols="40" rows="15" /><br />
<label for="price">
	<f:translate key="tx_promoshop_domain_model_product.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="quantity">
	<f:translate key="tx_promoshop_domain_model_product.quantity" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="quantity" /><br />
<label for="categorie">
	<f:translate key="tx_promoshop_domain_model_product.categorie" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="categorie" /><br />
<label for="image">
	<f:translate key="tx_promoshop_domain_model_product.image" />
</label><br />
	<f:form.upload property="image" /><br />
<label for="file">
	<f:translate key="tx_promoshop_domain_model_product.file" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="file" /><br />