<table class="tx-promoshop" >
	<tr>
		<td>
			<f:translate key="tx_promoshop_domain_model_product.title" />
		</td>
		<td>
			{product.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_promoshop_domain_model_product.short_description" />
		</td>
		<td>
			{product.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_promoshop_domain_model_product.long_description" />
		</td>
		<td>
			{product.longDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_promoshop_domain_model_product.price" />
		</td>
		<td>
			{product.price}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_promoshop_domain_model_product.quantity" />
		</td>
		<td>
			{product.quantity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_promoshop_domain_model_product.categorie" />
		</td>
		<td>
			{product.categorie}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_promoshop_domain_model_product.image" />
		</td>
		<td>
			{product.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_promoshop_domain_model_product.file" />
		</td>
		<td>
			{product.file}
		</td>
	</tr>
</table>